@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scrollbar::-webkit-scrollbar{
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.scrollbar::-webkit-scrollbar-thumb{
  background-color: slategray;
  outline: 1px solid slategrey;
  border-radius: 5px;
}
.scrollBB::-webkit-scrollbar{
  width: 5px;
  height: 5px;

}
.scrollBB::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px #d9d9d9;
}
.scrollBB::-webkit-scrollbar-thumb{
  background-color: #121212;
  outline: 1px solid #121212;
  border-radius: 5px;
}
.below{
  z-index: -10;
}
.above{
  z-index: 50;
}